{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
<div class="flex flex-wrap gap-4">
  {% for article in articles_list %}
  <article class="border border-slate-400 p-4 rounded-md max-w-96">
    <a class="flex flex-col gap-3" href="{{ path('app_article', {id: article.id}) }}">
      <img class="rounded-sm" src="{{ asset('images/placeholder.svg') }}"/>
      <h2>{{article.title}}</h2>
      <span class="text-gray-400">
        <i class="fa-solid fa-pencil"></i>
        {{article.createdAt|date('d/m/Y')}}
      </span>
    </a>
  </article>
  {% endfor%}
</div>
{% endblock %}
